{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<h2>Devices</h2>
<div>
  <a href="{{ url_for('device.add') }}" class="btn btn-sm btn-success">Add Device</a>
</div>
<br>
<div class="list-group">
  {% for device in devices %}
  <a href="{{ url_for('device.info', device_id=device['id']) }}" class="list-group-item list-group-item-action">{{ device['name'] }}</a>
  {% endfor %}
</div>
<br>
<h2>Users</h2>
<div class="list-group">
  {% for user in users %}
  <a href="{{ url_for('user.about', user_id=user.id) }}" class="list-group-item list-group-item-action">{{ user['name'] }}{% if user.is_admin() == True %}: (admin){% endif %}</a>
  {% endfor %}
</div>
{% endblock %}