<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Client - PiPlant</title>
  </head>
  <body>
    <div>
      <h1>PiPlant Client</h1>
      <a href="{{ url_for('debug') }}">Debug Menu</a>
      <hr>
      <pre>server: {{ server }}</pre>
      <pre>token: {{ token }}</pre>
      <pre>api version: {{ api_version }}</pre>
      <h2>URL Map</h2>
      <pre>{{ routes }}</pre>
    </div>
    <hr>
    <footer>
      <pre>version: {{ BUILD_VERSION }}</pre>
    </footer>
  </body>
</html>